.containerChapters{
    background-image: url(../Locations/back4k.jpg);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chapterFlex {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}