@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');

p{
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    color: honeydew;
}

.containerLoc {
    background-image: url(./back4k.jpg);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.planetFlex {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    height: 150px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 5%;
    margin-bottom: 5px;
}

.namePl {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dimensionPL {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}